<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prueba5">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DrVector"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PerfilConsultarPaciente"/>
        <activity android:name=".ConsultarPaciente" />
        <activity android:name=".BienvenidaPaciente" />
        <activity android:name=".BienvenidaEspecialista" />
        <activity
            android:name=".DiagnosticoSinCuenta"
            android:label="@string/title_activity_diagnostico_sin_cuenta" />
        <activity android:name=".DiagnosticoParaInvitado" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>